.tableContainer {
  padding: 20px;
}

.addNewButtonMargin {
  margin-bottom: 10px !important;
}

.channelItem {
  height: 60px; 
  width: 220px;
  justify-content: center;
  align-items: center;
}

.channelLogo {
  width: 100px;
  margin: 5px;
}

.myTitle {
  font-size: 1.5em;
}